.titulo-principal { /* Buena practica de programación para no usar directamente la etiqueta h1, usamos clase, para un mejor control y practica */
    padding-left: 30px;
}

#banner{
    width:100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado { /* Creamos la clase titulo-centralizado para reutilar los estilos en diferentes titulos con etiqueta h */
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}


.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

/* Lo que aprendimos
El concepto de encabezado de página y como crearlo.
Que no es recomendado crear estilos usando etiquetas, lo ideal es usar selectores de clases para todo. */